@charset "UTF-8";

:root {
    --morning: #f5d08c;
    --afternoon:#68a5f3;
    --night: #707099;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--morning);
}

h1 {
    text-align: center;
    margin: 20px 10px;
}

main {
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 450px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

main > h2 {
    margin-top: 10px;
}

img#photo {
    margin-top: 10px;
    border-radius: 50%;
    width: 350px;
    height: 330px;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}